*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   display: flex;
    gap: 25px;
    align-items: center;
    border: 1px solid red;
    padding: 45px;
    justify-content: center;
    margin: 33px;
}
.btn{
    height: 25px;
    width: 32px;
    /* padding: 2px; */
    
    background-color: blanchedalmond;
    border-radius: 17px;
}
.btn:hover{
    cursor: pointer;
    background: yellowgreen;
}